/* fetchBlogCard.css */
.animate-scroll {
  display: flex;
  animation: scrollRightToLeft 20s linear infinite;
}

@keyframes scrollRightToLeft {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
