/* fetchCourseCard.css */
.animate-scroll {
  display: flex;
  animation: scrollLeftRight 20s linear infinite;
}

@keyframes scrollLeftRight {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}
