/* Hide scrollbar for mobile horizontal scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Add smooth horizontal scrolling */
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-mandatory > * {
    scroll-snap-align: start;
  }
  